{% extends "base.html" %}
{% block navbar %}
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
          <h5 class="my-0 mr-md-auto font-weight-normal" style="color:black;">Online Play List</h5>
          <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/about">About us</a>
            <a class="p-2 text-dark" href="/contact_us">Contact us</a>
          </nav>
          <a class="btn btn-outline-primary" href="/">Logout</a>
        </div>
    {% endblock %}
{% block main %}
    <h1>Videos:</h1>
    <div class="container">
        <div class="card-deck col-sm-12">
            {% for video in all_videos%}
            {%if video[2] == number%}
                <div class="card col-sm-3" style="color:white;">
                    <iframe src="{{video[1]}}"></iframe>
                </div>
            {%endif%}
            {% endfor %}
        </div>
    </div>
{% endblock %}

